.nav {
    background: white;
    color: Black;
    width: 100%;
    height: 56px;
    display: flex;
    text-align: center;
    position: sticky;
    top:0;
    /* border-bottom: 1px solid #fff; */
}